<section class="catalogue">
  <div class="container catalogue__container">
    <h2 class="section__title catalogue__title">Каталог</h2>

    <ul class="list-reset catalogue__items">

      <li class="catalogue__item">
        <div class="catalogue__column catalogue__column--img">
          <div class="catalogue__img">
            <picture>
              <source srcset="img/catalogue/catalogue__item-mob1.avif" media="(max-width:576px)">
              <source srcset="img/catalogue/catalogue__item-mob1.webp" media="(max-width:576px)">
              <source srcset="img/catalogue/catalogue__item-mob1.jpg" media="(max-width:576px)">
              <source srcset="img/catalogue/catalogue__item1.avif" type="image/avif">
              <source srcset="img/catalogue/catalogue__item1.webp" type="image/webp">
              <img loading="lazy" src="img/catalogue/catalogue__item1.jpg">
            </picture>
          </div>
        </div>
        <div class="catalogue__column">
          <div class="catalogue__text">
            <span class="catalogue__item-title">
              Многофункциональная перегородка
            </span>
            <p class="catalogue__item-descr">
              Быстромонтируемая межсалонная перегородка, разделяющая водительский и пассажирский салоны.
            </p>
            <ul class="list-reset catalogue__info">
              <li class="catalogue__info-item">
                - Стекло перегородки
              </li>
              <li class="catalogue__info-item">
                - Шторки перегородки
              </li>
              <li class="catalogue__info-item">
                - Система управления климат-контролем
              </li>
              <li class="catalogue__info-item">
                - Мультимедийный комплекс
              </li>
              <li class="catalogue__info-item">
                - Декоративный элемент
              </li>
              <li class="catalogue__info-item">
                - Подсветка
              </li>
              <li class="catalogue__info-item">
                - Часы

              </li>
              <li class="catalogue__info-item">
                - USB-разъемы
              </li>
              <li class="catalogue__info-item">
                - Фильтр антибактерицидный
              </li>
            </ul>
          </div>
          <div class="catalogue__price">
            <ul class="list-reset catalogue__price-items">

              <li class="catalogue__price-item">
                Цена перегородки – от 762.000 руб.
              </li>
              <li class="catalogue__price-item">
                Монтаж перегородки – 25.000 руб.
              </li>
            </ul>
            <a href="item_one.html" class="btn catalogue__btn">
              подробнее
            </a>
          </div>
        </div>
        <img class="catalogue__item_bg" src="img/catalogue/catalogue__item_bg.jpg" alt="">
      </li>
      <li class="catalogue__item">
        <div class="catalogue__column">
          <div class="catalogue__text">
            <span class="catalogue__item-title">
              Дизайнерский потолок
            </span>
            <p class="catalogue__item-descr">
              Потолок с отделкой из алькантары
            </p>
            <ul class="list-reset catalogue__info">
              <li class="catalogue__info-item">
                - Материал и цветовые решения
              </li>
              <li class="catalogue__info-item">
                - Декоративный элемент с интерьерной
                подсветкой и зеркалами Mercedes-Maybach
              </li>
              <li class="catalogue__info-item">
                - Воздуховоды с интерьерной подсветкой
              </li>
              <li class="catalogue__info-item">
                - Блок управления климат-контролем
              </li>
              <li class="catalogue__info-item">
                - Дизайнерский потолок АLTURA «Звездное
                небо» с отделкой из алькантары
              </li>
            </ul>
          </div>
          <div class="catalogue__price">
            <ul class="list-reset catalogue__price-items">

              <li class="catalogue__price-item">
                Цена потолка – от 480.000 руб.
              </li>
              <li class="catalogue__price-item">
                Монтаж потолка – 25.000 руб.
              </li>
            </ul>
            <a href="#" class="btn catalogue__btn">
              подробнее
            </a>
          </div>
        </div>
        <div class="catalogue__column catalogue__column--img">
          <div class="catalogue__img">
            <picture>
              <source srcset="img/catalogue/catalogue__item-mob2.avif" media="(max-width:576px)">
              <source srcset="img/catalogue/catalogue__item-mob2.webp" media="(max-width:576px)">
              <source srcset="img/catalogue/catalogue__item-mob2.jpg" media="(max-width:576px)">
              <source srcset="img/catalogue/catalogue__item2.avif" type="image/avif">
              <source srcset="img/catalogue/catalogue__item2.webp" type="image/webp">
              <img loading="lazy" src="img/catalogue/catalogue__item2.jpg">
            </picture>
          </div>
        </div>

      </li>
      <li class="catalogue__item ">
        <div class="catalogue__column catalogue__column--img">
          <div class="catalogue__img">
            <picture>
              <source srcset="img/catalogue/catalogue__item-mob3.avif" media="(max-width:576px)">
              <source srcset="img/catalogue/catalogue__item-mob3.webp" media="(max-width:576px)">
              <source srcset="img/catalogue/catalogue__item-mob3.jpg" media="(max-width:576px)">
              <source srcset="img/catalogue/catalogue__item3.avif" type="image/avif">
              <source srcset="img/catalogue/catalogue__item3.webp" type="image/webp">
              <img loading="lazy" src="img/catalogue/catalogue__item3.jpg">
            </picture>

          </div>
        </div>
        <div class="catalogue__column">
          <div class="catalogue__text">
            <span class="catalogue__item-title">
              Декоративные панели
            </span>
            <p class="catalogue__item-descr">
              Декоративные боковые панели салона INTERNO
            </p>
            <ul class="list-reset catalogue__info">
              <li class="catalogue__info-item">
                - Декоративный элемент
              </li>
              <li class="catalogue__info-item">
                - Молдинги
              </li>
              <li class="catalogue__info-item">
                - Система управления климат-контролем
              </li>
              <li class="catalogue__info-item">
                - Контурная подсветка салона
              </li>
              <li class="catalogue__info-item">
                - Вставки из кожи
              </li>

            </ul>
            <p class="catalogue__item-descr">
              Декоративные боковые панели салона INTERNO с широкими подлокотниками
            </p>
            <ul class="list-reset catalogue__info">
              <li class="catalogue__info-item">
                - Широкие подлокотники А1
              </li>
              <li class="catalogue__info-item">
                - Подстаканники
              </li>
              <li class="catalogue__info-item">
                - Беспроводная зарядка
              </li>
              <li class="catalogue__info-item">
                - Фильтр антибактерицидный
              </li>


            </ul>
          </div>
          <div class="catalogue__price">
            <ul class="list-reset catalogue__price-items">

              <li class="catalogue__price-item">
                Цена панелей – от 390.000 руб.
              </li>
              <li class="catalogue__price-item">
                Можнтаж панелей – 22.000 руб.
              </li>
            </ul>
            <a href="#" class="btn catalogue__btn">
              подробнее
            </a>
          </div>
        </div>
      </li>
      <li class="catalogue__item">
        <div class="catalogue__column">
          <div class="catalogue__text">
            <span class="catalogue__item-title">
              Комфортабельные сиденья
            </span>
            <p class="catalogue__item-descr">
              Эргономичные комфортные сиденья с обширным диапазоном настроек для индивидуальной̆ регулировки положения
              сиденья и спинки идеально сочетаются с интерьером салона и соответствуют современным требованиях эстетики.
            </p>
            <ul class="list-reset catalogue__info">
              <li class="catalogue__info-item">
                - Комфортабельные сиденья ATHRONE от А1
              </li>
              <li class="catalogue__info-item">
                - Комфортабельные сиденья Mercedes-Benz
              </li>

            </ul>
          </div>
          <div class="catalogue__price">
            <ul class="list-reset catalogue__price-items">

              <li class="catalogue__price-item">
                Цена сидений – от 480.000 руб.
              </li>
              <li class="catalogue__price-item">
                Монтаж сидений – 5.000 руб.
              </li>
            </ul>
            <a href="#" class="btn catalogue__btn">
              подробнее
            </a>
          </div>
        </div>
        <div class="catalogue__column catalogue__column--img">
          <div class="catalogue__img">
            <picture>
              <source srcset="img/catalogue/catalogue__item-mob4.avif" media="(max-width:576px)">
              <source srcset="img/catalogue/catalogue__item-mob4.webp" media="(max-width:576px)">
              <source srcset="img/catalogue/catalogue__item-mob4.jpg" media="(max-width:576px)">
              <source srcset="img/catalogue/catalogue__item4.avif" type="image/avif">
              <source srcset="img/catalogue/catalogue__item4.webp" type="image/webp">
              <img loading="lazy" src="img/catalogue/catalogue__item4.jpg">
            </picture>
          </div>
        </div>
        <img class="catalogue__item_bg" src="img/catalogue/catalogue__item_bg.jpg" alt="">

      </li>

    </ul>


    <div class="catalogue__video">
      <video poster="img/catalogue/poster.jpg" autoplay="autoplay" loop="loop" tabindex="0"
        src="/">
        <source src="video.mp4" type='video/mp4;' />
      </video>
      <button class="btn-reset catalogue__video-btn">
        <img src="img/catalogue/play.png" alt="play">
      </button>
      <img class="catalogue__video-img" src="img/catalogue/catalogue__item_bg.png" alt="">
    </div>



  </div>
</section>
