<section class="clients">
  <div class="container clients__container">
    <h3 class="section__title clients__title">Наши клиенты</h3>

    <div class="swiper clients__slider">
      <div class="swiper-wrapper clients__slider-wrapper">
        <div class="swiper-slide clients__slider-slide">
          <img src="img/clients/1.png" alt="">
          <div class="slider-slide__text">
            <span class="slider-slide__name">хабиб нурмагомедов</span>
            <p class="slider-slide__descr">Чемпион UFC</p>
          </div>
        </div>
        <div class="swiper-slide clients__slider-slide">
          <img src="img/clients/2.png" alt="">
          <div class="slider-slide__text">
            <span class="slider-slide__name">Вячеслав муругов</span>
            <p class="slider-slide__descr">Генеральный директор “СТС Медиа”, Президент “НМГ Студия”</p>
          </div>
        </div>
        <div class="swiper-slide clients__slider-slide">
          <img src="img/clients/3.png" alt="">
          <div class="slider-slide__text">
            <span class="slider-slide__name">леонид ярмольник</span>
            <p class="slider-slide__descr">Актёр, продюссер</p>
          </div>
        </div>
        <div class="swiper-slide clients__slider-slide">
          <img src="img/clients/7.png" alt="">
          <div class="slider-slide__text">
            <span class="slider-slide__name">стас пьеха</span>
            <p class="slider-slide__descr">Певец</p>
          </div>
        </div>
        <div class="swiper-slide clients__slider-slide">
          <img src="img/clients/5.png" alt="">
          <div class="slider-slide__text">
            <span class="slider-slide__name">Гарик мартиросян</span>
            <p class="slider-slide__descr">Шоумэн, комик, телеведущий, телепродюссер</p>
          </div>
        </div>
        <div class="swiper-slide clients__slider-slide">
          <img src="img/clients/6.png" alt="">
          <div class="slider-slide__text">
            <span class="slider-slide__name">роман широков</span>
            <p class="slider-slide__descr">Российский футболист, заслуженный мастер спорта России</p>
          </div>
        </div>

        <div class="swiper-slide clients__slider-slide">
          <img src="img/clients/7.png" alt="">
          <div class="slider-slide__text">
            <span class="slider-slide__name">стас пьеха</span>
            <p class="slider-slide__descr">Певец</p>
          </div>
        </div>
        <div class="swiper-slide clients__slider-slide">
          <img src="img/clients/1.png" alt="">
          <div class="slider-slide__text">
            <span class="slider-slide__name">хабиб нурмагомедов</span>
            <p class="slider-slide__descr">Чемпион UFC</p>
          </div>
        </div>
        <div class="swiper-slide clients__slider-slide">
          <img src="img/clients/1.png" alt="">
          <div class="slider-slide__text">
            <span class="slider-slide__name">хабиб нурмагомедов</span>
            <p class="slider-slide__descr">Чемпион UFC</p>
          </div>
        </div>
        <div class="swiper-slide clients__slider-slide">
          <img src="img/clients/1.png" alt="">
          <div class="slider-slide__text">
            <span class="slider-slide__name">хабиб нурмагомедов</span>
            <p class="slider-slide__descr">Чемпион UFC</p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination">
        <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
        <!-- <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span> -->
      </div>


    </div>
  </div>
</section>
