<section class="comfort">
  <div class="container comfort__container">

    <h2 class="section__title">
      Из чего состоит ваш комфорт?
    </h2>
    <div class="comfort__text">
      <p>Отдавая предпочтение комфортабельному микроавтобусу Mercedes-Benz, вы ожидаете получить нечто большее, чем
        просто поездку. Пространство салона вдохновляет организовать под свои нужды и увлечения: чтобы каждая вещь была
        на своем месте и всё было под рукой.</p>

        <p>Для этого, порой, требуются немного: новая подсветка, материал обшивки другого оттенка, возможность пообщаться в
          салоне наедине.</p>
          
          <p> Благодаря широкой линейке компонентов интерьера от компании А1 ваш автомобиль станет совершенным в вопросе
            комфорта. Вне зависимости от того, выберите вы один или несколько компонентов сразу.</p>
    </div>
  </div>
</section>
