<section class="components">
  <div class="container components__container">

    <h1 class="section__title components__title ">
      Компоненты интерьера<br>
      для Mercedes-Benz V-class&nbsp;/ Vito
    </h1>
    <ul class="list-reset components__items">
      <li class="components__item">
        - переоборудование премиальных автомобилей
      </li>
      <li class="components__item">
        - установка автокомпонентов за 1 день

      </li>
      <li class="components__item">
        - VanPartner Mercedes-Benz
      </li>
    </ul>
    <a href="#" class="btn-reset btn components__btn">
      получить предложение
    </a>
    <a href="#" class="btn-reset btn components__mobile-btn ">
      купить
    </a>
  </div>
</section>
