<section class="contact">
  <div class="container contact__container">

    <div class="contact__column">
      <div class="contact__header-text">


        <h4 class="contact__title">
          Свяжитесь с нами
        </h4>
        <p class="contact__descr">
          Заполните форму обратной связи и наш менеджер свяжется с вами в ближайшее время.
        </p>
      </div>
      <ul class="list-reset contact__info">
        <li class="contact__info-item">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M34.999 27.4611V31.9774C35.006 33.7038 33.4537 35.1455 31.7107 34.9882C16.6667 35 5 23.225 5.01177 8.28198C4.85479 6.54825 6.28929 5.00177 8.01351 5.00015H12.5387C13.2708 4.99296 13.9805 5.25167 14.5355 5.72807C16.1136 7.08249 17.1285 11.6796 16.738 13.5071C16.4331 14.9339 14.9948 15.9322 14.017 16.9081C16.1643 20.677 19.2911 23.7976 23.0675 25.9406C24.0453 24.9647 25.0455 23.5293 26.4751 23.225C28.3091 22.8346 32.9358 23.8511 34.2848 25.4401C34.7632 26.0035 35.0173 26.7228 34.999 27.4611Z"
              stroke="url(#paint0_linear_17_123)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <defs>
              <linearGradient id="paint0_linear_17_123" x1="34.9999" y1="20" x2="5" y2="20"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#CB333B" />
                <stop offset="1" stop-color="#631D1B" />
              </linearGradient>
            </defs>
          </svg>
          <a href="#" class="contact__info-phone">+7(495) 256 06 86</a>

        </li>
        <li class="contact__info-item">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M5.83333 9.16683L17.643 20.9765C18.9447 22.2782 21.0553 22.2782 22.357 20.9765L34.1667 9.16683M6.66667 31.6668H33.3333C34.2538 31.6668 35 30.9206 35 30.0002V10.0002C35 9.07969 34.2538 8.3335 33.3333 8.3335H6.66667C5.74619 8.3335 5 9.07969 5 10.0002V30.0002C5 30.9206 5.74619 31.6668 6.66667 31.6668Z"
              stroke="url(#paint0_linear_17_121)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <defs>
              <linearGradient id="paint0_linear_17_121" x1="35" y1="20.0002" x2="5" y2="20.0002"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#CB333B" />
                <stop offset="1" stop-color="#631D1B" />
              </linearGradient>
            </defs>
          </svg>
          <a href="#">info@a1auto.ru</a>

        </li>
        <li class="contact__info-item">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M35 20C35 28.2843 28.2843 35 20 35M35 20C35 11.7157 28.2843 5 20 5M35 20H5M20 35C11.7157 35 5 28.2843 5 20M20 35C20 35 26.6667 30 26.6667 20C26.6667 10 20 5 20 5M20 35C20 35 13.3333 30 13.3333 20C13.3333 10 20 5 20 5M5 20C5 11.7157 11.7157 5 20 5"
              stroke="url(#paint0_linear_17_125)" stroke-width="1.5" />
            <defs>
              <linearGradient id="paint0_linear_17_125" x1="35" y1="20" x2="5" y2="20" gradientUnits="userSpaceOnUse">
                <stop stop-color="#CB333B" />
                <stop offset="1" stop-color="#631D1B" />
              </linearGradient>
            </defs>
          </svg>

          <a href="#">г. Москва, Осенняя улица д. 19</a>

        </li>
      </ul>
      <p class="contact__bottom-text">

        Вы можете <a href="#">ознакомиться с КП </a> или оставить свой адрес электронной почты, в форме обратной связи, для оперативной
        связи с менеджером по работе с корпоративными клиентами.
      </p>
    </div>

    <div class="contact__column">

      <form action="/" class="contact__form">

        <label class="contact__input">
          Имя
          <input type="text" class="input-reset">
        </label>
        <label class="contact__input">
          Телефон
          <input type="tel" class="input-reset">
        </label>
        <label class="contact__input">
          E-mail
          <input type="email" class="input-reset">
        </label>
        <label class="contact__input contact__input-text">
          Сообщение
          <textarea></textarea>
        </label>
        <button type="submit" class="btn-reset contact__btn">Отправить</button>

        <span>Отправляя форму вы соглашаетсь с "Политикой конфиденциальности"</span>
      </form>
    </div>

  </div>
</section>
<!-- clip-path: polygon(0 10%, 100% 0%, 100% 83%, 0% 100%); -->
